body{
	margin: 10px;
	padding: 0;
}
.clearance{
	width:	450px;
	height: 700px;
	background:  #D3D0D0;
	color: #000000;
	top: 50%;
	left: 20%;
	position: absolute;
	transform: translate(-55%, -50%);
	box-sizing: border-box;
	padding: 0 20px;
}
label{
	width: 100px;
	display: inline-block;
	padding: 1%; 
}
.lastname{

	color: #000000;
	position: relative;
	font-size: 20px;	
	margin: 2px;
}
.firstname{

	color: #000000;
	position: relative;
	font-size: 20px;
	margin: 2px;
}
.middlename{

	color: #000000;
	position: relative;
	font-size: 20px;	
	margin: 2px;
}
.gender{

	color: #000000;
	position: relative;	
	margin: 2px;
	font-size: 15px;
}

.date{

	color: #000000;
	position: relative;
	font-size: 20px;	
	margin: 2px;
	
}

.status{

	color: #000000;
	position: relative;	
	margin: 2px;
	font-size: 15px;
}
.purpose{
	color: #000000;
	position: relative;
	font-size: 18px;	
	margin: 2px;
	padding: 10px;
}
.ornumber{
	color: #000000;
	position: relative;
	font-size: 20px;	
	margin: 2px;
}
.cedulanumber{
	color: #000000;
	position: relative;
	font-size: 20px;	
	margin: 2px;
}
.cancel{
	margin: 5px;
	padding: 5px;
	font-size: 15px;
	color: #000000;
	background:  #E4E5EE;
	position: absolute;
	top: 92%;
	left: 20%;
	display: inline-block;
	
}
.print{
	margin: 5px;
	padding: 5px;
	font-size: 15px;
	background: #0A19FC;
	position: absolute;
	top: 92%;
	left: 50%;
	display: inline-block;
}



